In [39]:
import pandas as pd
df=pd.read_csv('summer-products.csv')

In [40]:
df.head() ##checking the first five columns

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [41]:
df.info() ##checking the data information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         1573 non-null   object
 1   title_orig                    1573 non-null   object
 2   price                         1573 non-null   float64
 3   retail_price                  1573 non-null   int64
 4   currency_buyer                1573 non-null   object
 5   units_sold                    1573 non-null   int64
 6   uses_ad_boosts                1573 non-null   int64
 7   rating                        1573 non-null   float64
 8   rating_count                  1573 non-null   int64
 9   rating_five_count             1528 non-null   float64
 10  rating_four_count             1528 non-null   float64
 11  rating_three_count            1528 non-null   float64
 12  rating_two_count              1528 non-null   float64
 13  rating_one_count              1528 non-null   float64
 14  badges_count                  1573 non-null   int64
 15  badge_local_product           1573 non-null   int64
 16  badge_product_quality         1573 non-null   int64
 17  badge_fast_shipping           1573 non-null   int64
 18  tags                          1573 non-null   object
 19  product_color                 1532 non-null   object
 20  product_variation_size_id     1559 non-null   object
 21  product_variation_inventory   1573 non-null   int64
 22  shipping_option_name          1573 non-null   object
 23  shipping_option_price         1573 non-null   int64
 24  shipping_is_express           1573 non-null   int64
 25  countries_shipped_to          1573 non-null   int64
 26  inventory_total               1573 non-null   int64
 27  has_urgency_banner            473 non-null    float64
 28  urgency_text                  473 non-null    object
 29  origin_country                1556 non-null   object
 30  merchant_title                1573 non-null   object
 31  merchant_name                 1569 non-null   object
 32  merchant_info_subtitle        1572 non-null   object
 33  merchant_rating_count         1573 non-null   int64
 34  merchant_rating               1573 non-null   float64
 35  merchant_id                   1573 non-null   object
 36  merchant_has_profile_picture  1573 non-null   int64
 37  merchant_profile_picture      226 non-null    object
 38  product_url                   1573 non-null   object
 39  product_picture               1573 non-null   object
 40  product_id                    1573 non-null   object
 41  theme                         1573 non-null   object
 42  crawl_month                   1573 non-null   object
dtypes: float64(9), int64(15), object(19)
memory usage: 528.6+ KB

In [42]:
df.columns checking the different columns in the data

SyntaxError: invalid syntax (3493298302.py, line 1)

In [43]:
newdf = df[['shipping_is_express', 'countries_shipped_to', 'price', 'units_sold', 'origin_country','theme','uses_ad_boosts']] 
## selecting the different columns needed for data analysis

In [44]:
newdf.head()

,shipping_is_express,countries_shipped_to,price,units_sold,origin_country,theme,uses_ad_boosts
0,0,34,16.00,100,CN,summer,0
1,0,41,8.00,20000,CN,summer,1
2,0,36,8.00,100,CN,summer,0
3,0,41,8.00,5000,CN,summer,1
4,0,35,2.72,100,CN,summer,1

In [45]:
newdf['sales'] = newdf['price'] * newdf['units_sold'] ## creating  a new column sales

C:\Users\Dell\AppData\Local\Temp\ipykernel_14152\3107734119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['sales'] = newdf['price'] * newdf['units_sold'] ## creating  a new column sales

In [46]:
newdf.head()

,shipping_is_express,countries_shipped_to,price,units_sold,origin_country,theme,uses_ad_boosts,sales
0,0,34,16.00,100,CN,summer,0,1600.0
1,0,41,8.00,20000,CN,summer,1,160000.0
2,0,36,8.00,100,CN,summer,0,800.0
3,0,41,8.00,5000,CN,summer,1,40000.0
4,0,35,2.72,100,CN,summer,1,272.0

In [47]:
data={'0':'NO','1':'YES'} #mapping, this is to replace 0 and 1 with YES and NO

In [48]:
newdf['uses_ad_boosts']=newdf['uses_ad_boosts'].astype(str).map(data)
newdf['shipping_is_express']=newdf['shipping_is_express'].astype(str).map(data)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14152\1088095648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['uses_ad_boosts']=newdf['uses_ad_boosts'].astype(str).map(data)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14152\1088095648.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['shipping_is_express']=newdf['shipping_is_express'].astype(str).map(data)

In [49]:
newdf.head()

,shipping_is_express,countries_shipped_to,price,units_sold,origin_country,theme,uses_ad_boosts,sales
0,NO,34,16.00,100,CN,summer,NO,1600.0
1,NO,41,8.00,20000,CN,summer,YES,160000.0
2,NO,36,8.00,100,CN,summer,NO,800.0
3,NO,41,8.00,5000,CN,summer,YES,40000.0
4,NO,35,2.72,100,CN,summer,YES,272.0

In [50]:
newdf.dtypes #checking the data types

shipping_is_express      object
countries_shipped_to      int64
price                   float64
units_sold                int64
origin_country           object
theme                    object
uses_ad_boosts           object
sales                   float64
dtype: object

In [51]:
 newdf.isna().sum() ##checking for nan values

shipping_is_express      0
countries_shipped_to     0
price                    0
units_sold               0
origin_country          17
theme                    0
uses_ad_boosts           0
sales                    0
dtype: int64

In [52]:
newdf['origin_country'] = newdf['origin_country'].astype(str).replace('nan', 'Not specified') # replacing the nan values with non specified

C:\Users\Dell\AppData\Local\Temp\ipykernel_14152\1299912130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['origin_country'] = newdf['origin_country'].astype(str).replace('nan', 'Not specified') # replacing the nan values with non specified

In [53]:
newdf.to_csv('Cleanedsumddata.csv', index=False) # saving the data to csv